template:
  name: ${name}
  identifier: ${identifier}
  versionLabel: "${version}"
  description: "${description}"
  type: CustomDeployment
  tags: {}
  icon: data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPgo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDY0IDY0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0zOC4wNiAyNi4xNTF2MTEuNDczTDQ4IDMxLjg5MVYyMC40MDZsLTkuOTQgNS43NDV6IiBmaWxsPSIjNDA0MEIyIi8+PHBhdGggZD0ibTI3LjAzIDIwLjQwNiA5Ljk0IDUuNzQ1djExLjQ3M2wtOS45NC01Ljc0VjIwLjQwN3pNMTYgMTR2MTEuNDc5bDkuOTQgNS43NHYtMTEuNDhMMTYgMTR6bTExLjAzIDMwLjYyNCA5Ljk0IDUuNzR2LTExLjQ4bC05Ljk0LTUuNzM5djExLjQ4eiIgZmlsbD0iIzVDNEVFNSIvPjwvc3ZnPg==
  spec:
    infrastructure:
      variables: []
      fetchInstancesScript:
        store:
          type: Inline
          spec:
            content: |
              cat > $INSTANCE_OUTPUT_PATH <<_EOF_
              {
                "data": [
                  {
                    "componentName": "<+service.name>"
                  }
                ]
              } 
              _EOF_
      instanceAttributes:
        - name: instancename
          jsonPath: componentName
          description: ""
      instancesListPath: data
    execution:
      stepTemplateRefs: []
